*.opensdf
*.sdf
*.suo
Debug/B58Hustler.exp
Debug/B58Hustler.lib
Debug/B58Hustler.log
Debug/B58Hustler.pdb
Debug/B58Hustler.tlog/B58Hustler.lastbuildstate
Debug/B58Hustler.tlog/cl.command.1.tlog
Debug/B58Hustler.tlog/CL.read.1.tlog
Debug/B58Hustler.tlog/CL.write.1.tlog
Debug/B58Hustler.tlog/link-cvtres.read.1.tlog
Debug/B58Hustler.tlog/link-cvtres.write.1.tlog
Debug/B58Hustler.tlog/link-rc.write.1.tlog
Debug/B58Hustler.tlog/link-rc.read.1.tlog
Debug/B58Hustler.tlog/link.command.1.tlog
Debug/B58Hustler.tlog/link.read.1.tlog
Debug/B58Hustler.tlog/link.write.1.tlog
Debug/B58Hustler.tlog/unsuccessfulbuild
Debug/Hustler.obj
Debug/OAPI_Interface.obj
Debug/vc120.idb
Debug/vc120.pdb
Debug/B58Hustler.dll
Debug/B58Hustler.ilk
Debug/B58Hustler.tlog/B58Hustler.write.1u.tlog
Debug/SubsystemContainer.obj